html,
body,
section {
    height: 100%;
    overflow: hidden;
}

.layout {
    margin: 0 auto;
    width: 600px;
}

@media (min-width: 700px) {
    .layout {
        width: 600px;
    }
}

@media (min-width: 900px) {
    .layout {
        width: 800px;
    }
}

@media (min-width: 1000px) {
    .layout {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .layout {
        width: 1100px;
    }
}

#page-music main {
    height: 75vh;
    padding-top: 10vh;
}

#page-music footer {
    height: calc(100% - 75vh);
    background-color: rgba(255, 255, 255, 0.158);
}

.bg {
    position: absolute;
    z-index: -1;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    background-image: url(http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-small);
    background-size: cover;
    filter: blur(4px);
}

.bg::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.76);
}

main .aside {
    float: left;
}

main figure {
    background-image: url(http://cloud.hunger-valley.com/music/public_tuijian_spring.jpg-middle);
    background-size: cover;
    height: 45vh;
    width: 45vh;
}

main .actions span {
    color: #ffffff70;
    margin-top: 4vh;
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 5vh;
    cursor: pointer;
    transition: color .5s;
}
main .aside span.active {
    color: red;
}
main .actions span:hover {
    color: #fff;
}

main .detail {
    margin-left: 55vh;
    color: #fff;
}

main .detail .tag {
    font-size: 2vh;
    padding: .4em .8em;
    background-color: #054dd3;
}

main .detail .title {
    margin-top: 4vh;
    font-size: 6.5vh;
    overflow: hidden;
    height: 10vh;
}

main .detail .icons {
    margin-top: 5vh;
    display: flex;
}
main .detail .icons li {
    flex: 1;
    width: 33.33%;
    font-size: 3vh;
}

main .detail .bar {
    margin-top: 8vh;
    display: flex;
    align-items: center;
}
main .detail .bar .timebar {
    border-radius: 2px;
    position: relative;
    flex: 1;
    background-color: #d8d8d894;
    height: 5px;
    
}
main .detail .bar .playingtime {
    border-radius: 2px;
    position: absolute;
    width: 0%;
    background-color: #fff;
    height: 5px;
}
main .detail .bar span {
    width: 2vh;
    margin-left: 2vh;
}

main .detail .author {
    margin-top: 3.5vh;
    font-size: 3vh;
    color: #ffffffc9;
}
main .detail .lrc {
    color: #ffffffc9;
    margin-top: 4.3vh;
    font-size: 3vh;
    overflow: hidden;
}

footer .layout {
    position: relative;
    color: #fff;
}

footer .layout .iconfont {
    opacity: 0;
    position: absolute;
    font-size: 10vh;
    color: #ffffff70;
    cursor: pointer;
    padding: 5vh 0 ;
    transition:all .5s;
}

footer .layout #footerLeft {
    left: -13vh;
}

footer .layout #footerRight {
    right: -13vh;
}

footer:hover .iconfont {
    opacity: 1;
    color: #fff;
}


footer .box {
    height: 25vh;
    width: inherit;
    position: relative;
    overflow: hidden;
}

footer .box ul {
    position: absolute;
    text-align: center;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    overflow: hidden;
}
footer .box ul>li {
    cursor: pointer;
    margin:2vh;
    transition: all .4s;
}
footer .box ul>li .cover {
    height: 16vh;
    width: 20vh;
}
footer .box ul>li h3{
    font-weight: lighter;
    margin-top: 1.5vh;
    color: #ffffff70;
}
footer .box ul>li:hover {
    box-shadow: 0 0 5px 4px #ffffff9f;
}
footer .box ul>li:hover h3 {
    color: #fff;
    font-weight: normal;
}
footer .box ul>li.active {
    box-shadow: 0 0 5px 4px #ffffff9f;
    color: #fff;
    font-weight: bolder;
}
footer .box ul>li.active h3 {
    color: #fff;
    font-weight: normal;
}